@inherits LayoutComponentBase

<TelerikRootComponent>

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            Demo de Predicción y Detección de Errores de Consumo Elécrico por <a href="http://www.inergybcn.com/" target="_blank">inerGy</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>

</TelerikRootComponent>